//colors
$alice_blue:  aliceblue;
$white: white;

//@extend-elements
//original selectors
//.delete-file, .rename-file, .download-file, .tag-file
%extend_1 {
  position: absolute;
  top: auto;
  right: 0;
  display: none;
  padding: 3px;
}


.delete-file {
  @extend %extend_1;
}
.rename-file {
  @extend %extend_1;
  display: none;
  top: 30px;
  z-index: 9999;
}
.download-file {
  @extend %extend_1;
  display: none;
  top: 30px;
  z-index: 9999;
}
.tag-file {
  @extend %extend_1;
}
.file-item {
  .item-icon {
    width: 100%;
    height: 150px;
    display: block;
    font-size: 120px;
    text-align: center;
    list-style-type: none !important;
  }
  &:hover {
    .delete-file {
      display: block;
      z-index: 9999;
    }
    .download-file {
      display: block;
      z-index: 9999;
    }
  }
}
#my-awesome-dropzone-body {
  border: 2px dashed $alice_blue;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  background: $white;
  .dz-message {
    text-decoration: dashed;
    font-weight: 700;
  }
  > .dz-preview {
    display: none;
  }
}
.files li {
  list-style-type: none;
}
.directory-item:hover {
  .delete-file {
    display: block;
    z-index: 9999;
  }
  .rename-file {
    display: block;
    z-index: 9999;
  }
}
.dropzone {
   border: 2px dashed #0087F7;
   border-radius: 5px;
   background: white;
 }
